.customers {
  width: 80%;
  height: 100vh;
  padding: 80px 50px;
  /* overflow-y: scroll; */
}

.customer_hd {
  width: 100%;
  padding: 15px;
  background-color: rgba(226, 226, 226, 0.119);
  border-radius: 10px;
  margin-bottom: 30px;
}

.customer_hd h2 {
  font-size: var(--heading-h2);
}

.addCustomerBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addCustomerBtn a {
  background-color: black;
  padding: 15px 25px;
  color: white;
  border-radius: 5px;
  font-size: var(--heading-h5);
}

.contact_display {
  width: 100%;
  overflow-y: hidden;
  height: calc(100vh - 250px);
  background-color: rgba(239, 236, 236, 0.749);
  margin-top: 12px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  overflow-y: scroll;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: white;
  height: 200px;
  border-radius: 5px;
  padding: 15px;
}

.empty {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  align-items: center;
  justify-content: center;
  background-color: orange;
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.controls button {
  width: 50%;
  background: black;
  font-size: 14px;
}

.controls a {
  width: 50%;
  background: black;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
}